@CHARSET "UTF-8";

.wideWidth{
	width:75%;	
}



.box {
/* 	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
 */
 	border-style:dotted;
	border-width:thin;
	border-color:gray;
	width:inherit;
}

.right{
	text-align:right;
}


.bold{
	 font-weight: bolder;
}

.horizontalLine{
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.center, .box{
	display: block;
    margin-left: auto;
    margin-right: auto;	
}

.underLinedCell{
	border-bottom-style:solid; border-bottom-width:1px;
}

.padding{
	padding-top:25px;
	padding-bottom:25px;
	padding-left:25px;
	padding-right: 25px; 	
}

.mainTitle, .subTitle{
	font-family: sans-serif;
	
}

.mainTitle {
	font-variant:small-caps;
	text-transform:uppercase;
	
	font-size:larger;
	font-weight:bolder;
	
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;		
	
	border-bottom: thin;
}

html {
	min-height: 100%;
}

fullHeight{
	min-height: 100%
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

.subTitle{
	font-size:large;
	font-weight:bold;	
}

.yellowBackground{
	background-color:#FFFFE0;
}

.darkBackground{
	background-color:black;
}

.largeBold{
	font-weight: bold;
	font-size: large;
}
